html {
    height: auto;
}

.standalone-header {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.standalone-header h1 {
    padding-bottom: 20px;
    line-height: 130%;
}

.appointment-booking-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.appointment-booking-wrapper.left-aligned {
    margin: 0 auto 0 0;
    padding: 0;
}

.appointment-booking-wrapper h1.has-back-button {
    height: 32px;
    line-height: 32px;
    padding-bottom: 20px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper h1.has-back-button {
        text-align: right;
    }
}

.appointment-booking-wrapper h1.success {
    line-height: 30px;
    color: #59BA5C;
    background: transparent url("../../gfx/timebok/check-circle.svg") no-repeat left top;
    background-size: 30px;
    padding-left: 40px;
}

.appointment-booking-wrapper h2 {
    margin: 0px;
    padding-bottom: 15px;
    line-height: 32px;
}

.appointment-booking-wrapper h2.inline {
    display: inline-block;
}

.appointment-booking-wrapper p {
    margin: 0px;
    padding-bottom: 15px;
}

.appointment-booking-wrapper h1.success,
.appointment-booking-wrapper h2.success,
.appointment-booking-wrapper h3.success,
.appointment-booking-wrapper p.success {
    color: #59BA5C;
}

.appointment-booking-wrapper textarea {
    font-family: inherit;
    resize: none;
    font-size: inherit;
}

.appointment-booking-wrapper input[type='text'],
.appointment-booking-wrapper input[type='tel'],
.appointment-booking-wrapper .button,
.appointment-booking-wrapper select,
.appointment-booking-wrapper textarea {
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: inline-block;
    -webkit-apearance: none;
    -moz-apearance: none;
    font-weight: normal;
}

.appointment-booking-wrapper input[type='text']:focus,
.appointment-booking-wrapper input[type='tel']:focus,
.appointment-booking-wrapper .button:focus,
.appointment-booking-wrapper select:focus,
.appointment-booking-wrapper textarea:focus {
    outline: auto;
}

.appointment-booking-wrapper input[type='text'],
.appointment-booking-wrapper input[type='tel'],
.appointment-booking-wrapper select,
.appointment-booking-wrapper textarea {
    border: 1px solid #716E6E;
    outline: none;
    line-height: 22px;
    padding: 5px 10px;
    font-size: 16px;
    display: block;
}

.appointment-booking-wrapper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.appointment-booking-wrapper label {
    display: block;
}

.appointment-booking-wrapper label input[type='text'],
.appointment-booking-wrapper label input[type='tel'],
.appointment-booking-wrapper label select,
.appointment-booking-wrapper label textarea {
    margin-top: 8px;
}

.appointment-booking-wrapper label input[type='checkbox'] {
    margin-right: 5px;
}

.appointment-booking-wrapper label select {
    max-width: 100%;
    background: #fff url("../../gfx/timebok/down-arrow.svg");
    padding: 6px 45px 6px 15px;
    background-size: 15px auto;
    background-repeat: no-repeat;
    background-position: right 15px center;
    cursor: pointer;
    vertical-align: top;
}

.appointment-booking-wrapper label.checkbox-field-label {
    margin-bottom: 15px;
}

.appointment-booking-wrapper span.required-asterisk {
    color: #a94442;
}

.appointment-booking-wrapper .button {
    text-align: center;
    background-color: #fff;
    border: 1px solid #3671AD;
    line-height: 28px;
    color: #3671AD;
    cursor: pointer;
    padding: 5px 18px;
    transition: padding 200ms;
    position: relative;
    outline: none;
    font-size: 14px;
    text-decoration: none;
    vertical-align: top;
}

.appointment-booking-wrapper .button.primary {
    color: #fff;
    background-color: #3671AD;
}

.appointment-booking-wrapper .button:disabled {
    cursor: default;
    opacity: 0.4;
}

.appointment-booking-wrapper .button.danger {
    color: #fff;
    background-color: #F36955;
    border-color: #a31f0c;
}

.appointment-booking-wrapper .button.loading {
    padding-right: 50px;
}

.appointment-booking-wrapper .button.loading:before {
    content: '';
    position: absolute;
    right: 18px;
    top: 6px;
    background-image: url("../../gfx/timebok/ring-loader-white.svg");
    background-size: 22px auto;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.appointment-booking-wrapper .go-back {
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 15px 0;
    padding-left: 10px;
    font-weight: normal;
    font-family: inherit;
    background-image: url("../../gfx/timebok/back-button.svg");
    border: 0;
    height: 32px;
    width: 110px;
    background-color: transparent;
    color: #3671AD;
}

.appointment-booking-wrapper .credentials-form {
    width: 100%;
    max-width: 440px;
}

.appointment-booking-wrapper .credentials-form label {
    line-height: 20px;
    font-size: 16px;
    position: relative;
    width: 100%;
    max-width: 220px;
}

.appointment-booking-wrapper .credentials-form label.valid:after {
    background-image: url("../../gfx/timebok/check.svg");
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 28px;
    width: 34px;
    height: 34px;
    background-color: #59BA5C;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: center center;
}

.appointment-booking-wrapper .credentials-form input,
.appointment-booking-wrapper .credentials-form .button {
    width: 100%;
    max-width: 220px;
}

.appointment-booking-wrapper .credentials-form .button {
    display: block;
}

.appointment-booking-wrapper .appointment-calendar {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .month-navigator {
    top: 40px;
    position: absolute;
    border: none;
    height: 24px;
    width: 24px;
    background-size: auto 24px;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 1000;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .month-navigator:focus {
    outline: auto;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .month-navigator.previous {
    right: 50%;
    margin-right: 100px;
    background-image: url("../../gfx/timebok/left.png");
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .month-navigator.previous:disabled {
    opacity: 0.4;
    cursor: default;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .month-navigator.next {
    left: 50%;
    margin-left: 100px;
    background-image: url("../../gfx/timebok/right.png");
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month {
    width: 100%;
    padding: 25px 0px 15px 0px;
    display: none;
    border: 1px solid #979797;
    border-radius: 10px;
    margin: auto;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month.open {
    display: block;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month h2 {
    text-transform: capitalize;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .year-heading {
    padding: 0;
    font-size: 14px;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .ring-loader {
    position: absolute;
    top: -52px;
    right: 0px;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month ul li {
    float: left;
    width: 14%;
    text-align: center;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month ul li span {
    text-align: center;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-heading {
    padding: 15px 30px;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-heading li {
    list-style: none;
    margin: 0px;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body {
    padding: 0px 30px;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body {
        padding: 0px 10px;
    }
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li {
    font-size: 20px;
    list-style: none;
    margin: 0;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li span,
.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li button {
    color: #fff;
    background: #E5E5E5;
    border-radius: 3px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 0px auto 15px auto;
    border: none;
    font-size: 20px;
    font-family: inherit;
}

@media only screen and (max-width: 480px) {

    .appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li span,
    .appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li button {
        margin: 0px auto 15% auto;
        width: 37px;
        height: 37px;
        line-height: 37px;
    }
}

@-webkit-keyframes LoadingAnimation {
    0% {
        background-position: 0% 51%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 51%;
    }
}

@-moz-keyframes LoadingAnimation {
    0% {
        background-position: 0% 51%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 51%;
    }
}

@keyframes LoadingAnimation {
    0% {
        background-position: 0% 51%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 51%;
    }
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li.loading span,
.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li.loading button {
    background: linear-gradient(300deg, #e5e5e5, #ffffff);
    background-size: 600% 600%;
    -webkit-animation: LoadingAnimation 2s ease;
    -moz-animation: LoadingAnimation 2s ease;
    animation: LoadingAnimation 2s ease;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li.placeholder span {
    background: none;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li.available button {
    background: #168129;
    cursor: pointer;
}

.appointment-booking-wrapper .appointment-calendar .calendar-months-wrapper .calendar-month .calendar-body li.incoming {
    cursor: pointer;
}

.appointment-booking-wrapper .appointment-week {
    max-width: 500px;
}

.appointment-booking-wrapper .appointment-week-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.appointment-booking-wrapper .appointment-week-wrapper .tsd-alert-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0px;
    left: 0px;
    z-index: 2000;
}

.appointment-booking-wrapper .appointment-week-wrapper .tsd-alert {
    width: calc(100% - 30px);
    position: absolute;
    top: calc(50% - 55px);
    left: 15px;
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    border: 1px solid #716E6E;
    border-radius: 3px;
    z-index: 2000;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-week-wrapper .tsd-alert {
        left: 0;
        width: 100%;
        padding: 15px 5px;
        font-size: 16px;
    }
}

.appointment-booking-wrapper .appointment-week-wrapper .tsd-alert p {
    padding: 0 0 10px;
    vertical-align: middle;
}

.appointment-booking-wrapper .appointment-week-wrapper .tsd-alert button {
    vertical-align: middle;
    margin: 0;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-navigator {
    position: absolute;
    top: 50px;
    border: none;
    height: 60px;
    width: 60px;
    background: none;
    background-size: auto 34px;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    cursor: pointer;
    z-index: 1000;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-navigator:focus {
    outline: auto;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-navigator.previous {
    left: 40px;
    background-image: url("../../gfx/timebok/left-big.png");
}

.appointment-booking-wrapper .appointment-week-wrapper .day-navigator.next {
    right: 40px;
    background-image: url("../../gfx/timebok/right-big.png");
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider {
    width: 150%;
    margin-left: -25%;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-week-wrapper .day-slider {
        width: 100%;
        margin-left: 0;
    }
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list {
    box-sizing: border-box;
    padding: 10px 5px 0px 5px;
    vertical-align: top;
    width: 33%;
    opacity: 0.4;
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list {
        width: 100%;
        display: none;
    }
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 10px 15px 10px;
    margin: 0;
    background: #fff;
    pointer-events: none;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .day-list-header {
    text-align: center;
    margin-bottom: 30px;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .day-list-header p {
    padding: 0px;
    margin: 0px;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .day-list-header .day-name,
.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .day-list-header .month {
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #999;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .day-list-header .day-number {
    font-size: 40px;
    line-height: 44px;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list {
    text-align: left;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .hour {
    display: inline-block;
    padding: 5px 0;
    width: 33px;
    vertical-align: top;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .minutes {
    width: calc(100% - 33px);
    display: inline-block;
    white-space: normal;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .slots-row {
    margin: 0px 4px 15px 4px;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .slots-row {
        margin-bottom: 7px;
    }
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .appointment-book-slot {
    display: inline-block;
    border-radius: 3px;
    margin: 3px;
    padding: 4px 0;
    width: 33px;
    border: 1px solid #E5E5E5;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    font-family: inherit;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .appointment-book-slot.incoming {
    border-color: #8C8B8B;
    color: #8C8B8B;
    cursor: pointer;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list .content .slots-list .appointment-book-slot.available {
    background: #168129;
    border-color: #168129;
    cursor: pointer;
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list.active {
    opacity: 1;
    cursor: default;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list.active {
        display: block;
    }
}

.appointment-booking-wrapper .appointment-week-wrapper .day-slider .appointment-booking-day-list.active .content {
    pointer-events: all;
}

.appointment-booking-wrapper .doctor-selection {
    width: 100%;
    max-width: 500px;
}

.appointment-booking-wrapper .doctor-selection label {
    position: relative;
    display: block;
}

.appointment-booking-wrapper .my-appointments-list {
    max-width: 500px;
}

.appointment-booking-wrapper .my-appointments-list .backdrop {
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    opacity: 0;
    transition: opacity 200ms;
    z-index: 0;
}

.appointment-booking-wrapper .my-appointments-list .backdrop.visible {
    opacity: 1;
    z-index: 1000;
    height: 100%;
}

.appointment-booking-wrapper .my-appointments-list .appointment {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    transition: padding 100ms;
    padding: 5px 0px;
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0px rgba(204, 204, 204, 0.7);
    background: #fff;
    display: table;
    width: 100%;
    padding: 10px 0px;
    transition: padding 100ms, margin 100ms;
    top: 0px;
    left: 0px;
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .description {
    display: table-cell;
    vertical-align: middle;
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content p {
    padding-bottom: 10px;
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .actions p {
    font-size: 14px;
    padding-bottom: 0px;
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .actions .button {
    min-width: 120px;
    margin: 5px 4px 0px 4px;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .actions .button {
        font-size: 12px;
        padding: 3px 12px;
        min-width: 94px;
    }
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .description {
    padding: 15px 25px;
    width: calc(100% - 100px);
    box-sizing: border-box;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .description {
        padding: 15px 5px;
        width: calc(100% - 80px);
    }
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ccc;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    color: inherit;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date {
        padding: 5px 5px;
        width: 80px;
    }
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date p {
    padding: 0px;
    margin: 0px;
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date .day-name,
.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date .month {
    line-height: 16px;
    font-size: 16px;
    text-transform: capitalize;
}

@media only screen and (max-width: 480px) {

    .appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date .day-name,
    .appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date .month {
        font-size: 14px;
    }
}

.appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date .day-number {
    font-size: 40px;
    line-height: 44px;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .my-appointments-list .appointment .appointment-content .date .day-number {
        font-size: 34px;
    }
}

.appointment-booking-wrapper .my-appointments-list .appointment.deleting {
    z-index: 2000;
}

.appointment-booking-wrapper .my-appointments-list .appointment.deleting .appointment-content {
    z-index: 2000;
    box-shadow: 2px 2px 4px 0px rgba(100, 100, 100, 0.7);
}

.appointment-booking-wrapper .my-appointments-list .appointment.deleted .date {
    color: #ccc;
}

.appointment-booking-wrapper .my-appointments-list .appointment.deleted .description p {
    padding: 27px 0px;
}

.appointment-booking-wrapper .appointment-confirm {
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.appointment-booking-wrapper .appointment-confirm table {
    width: 100%;
    margin-bottom: 20px;
}

.appointment-booking-wrapper .appointment-confirm table tr td {
    padding-bottom: 10px;
}

.appointment-booking-wrapper .appointment-confirm table tr td:first-of-type {
    padding-right: 30px;
    white-space: nowrap;
    vertical-align: top;
}

.appointment-booking-wrapper .appointment-confirm table tr td:nth-of-type(2) {
    font-weight: bold;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .appointment-booking-wrapper .appointment-confirm input {
        max-width: 100%;
    }
}

.appointment-booking-wrapper .appointment-confirm input[type='text'],
.appointment-booking-wrapper .appointment-confirm input[type='tel'] {
    width: 100%;
    max-width: 220px;
}

.appointment-booking-wrapper .appointment-confirm .appointment-time {
    font-size: 20px;
}

.appointment-booking-wrapper .appointment-confirm .appointment-time span {
    text-transform: capitalize;
}

.appointment-booking-wrapper .appointment-confirm textarea {
    width: 100%;
}

.appointment-booking-wrapper .my-appointments-form {
    max-width: 440px;
}

.appointment-booking-wrapper .my-appointments-form input {
    width: 100%;
    max-width: 220px;
}

.appointment-booking-wrapper .ring-loader {
    content: '';
    background-image: url("../../gfx/timebok/ring-loader-blue.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.appointment-booking-wrapper .manual-form {
    max-width: 400px;
}

.appointment-booking-wrapper .manual-form .checkbox-list {
    margin: 6px 0px 15px 0px;
}

.appointment-booking-wrapper .manual-form .checkbox-list label {
    margin-right: 10px;
    display: inline-block;
}

.appointment-booking-wrapper .manual-form .small-input {
    max-width: 180px;
}

.appointment-booking-wrapper .manual-form input[type='text'],
.appointment-booking-wrapper .manual-form textarea {
    width: 100%;
}

.appointment-booking-wrapper .nota-bene {
    font-size: 16px;
    color: #666;
}

.appointment-booking-wrapper .feedback-error {
    color: #a94442;
    padding-bottom: 15px;
}

.appointment-booking-wrapper .calendar-extra {
    text-align: left;
}

.appointment-booking-wrapper .form-error {
    color: #a94442;
    font-size: 15px;
    margin-top: -10px;
}

input.pincode {
    max-width: 125px;
}

.dashed-input {
    font-family: monospace, serif;
    letter-spacing: 3px;
    position: relative;
}

.dashed-input input {
    font-family: inherit;
    letter-spacing: inherit;
}

.dashed-input .helper {
    white-space: pre;
    position: absolute;
    top: 0;
    line-height: 34px;
    padding: 0 10px;
}

.dashed-input.phone input {
    padding-left: 53px;
}

.dashed-input.phone .prefix {
    position: absolute;
    top: 0;
    line-height: 34px;
    padding-left: 10px;
}

.dashed-input.phone .helper {
    padding: 0 10px 0 53px;
}